body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

.board{
    border: 4px solid black;
}

.row{
    display: flex;
}

.box{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.white{
    background-color: #f0d9b5;
}

.black{
    background-color: #b58863;
}